@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* variables */
:root {
  --border: oklch(0.922 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@layer base {
  * {
    border: 1px solid var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
